.latest-blog {
  padding: 16px 0;
  font-size: 20px;
  font-weight: bold;
}

.blog-card {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  .blog-date {
    font-size: 14px;
    color: var(--color-text-secondary);
  }

  .blog-title {
    padding: 16px 0;
    font-size: 18px;

    &:hover {
      color: var(--color-primary);
    }
  }

  .blog-desc {
    color: var(--color-text);
    padding-bottom: 24px;
  }

  .tags {
    display: flex;
    gap: 8px;

    > li {
      padding: 4px 16px;
      border-radius: 4px;
      color: #fff;
      background-color: var(--color-tag);
      cursor: pointer;
    }
  }
}
