.main-viewport {
  margin: 0 auto;
  min-height: calc(100% - 60px - 55px);
  max-width: 1280px;
}

.header {
  position: relative;
  margin: 0 auto;
  padding: 6px 0;
  max-width: 1280px;
  height: 60px;
  border-bottom: 1px dashed var(--color-border);

  .name-logo {
    display: inline-block;
    height: 100%;
    font-size: 48px;
  }

  .logo-subtext {
    font-size: 24px;
  }

  .menus {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    > li {
      position: relative;
      min-width: 80px;
      font-size: 18px;
      text-align: right;

      &:hover {
        color: var(--color-primary);
      }

      .active {
        padding-bottom: 8px;
        border-bottom: 2px solid var(--color-primary);
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  padding: 16px 0;
  max-width: 1280px;
  border-top: 1px dashed var(--color-border);

  .copyright {
    color: var(--color-info);
  }

  .contact-icon {
    font-size: 20px;
  }
}

@media (max-width: 1324px) {
  .main-viewport,
  .header,
  .footer {
    margin: 0 24px;
    max-width: 100%;
  }
}
