<!doctype html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8">
  <title>Samily Wang's Blog</title>
  <link rel="icon" href="/assets/images/favicon.ico" />
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- font-awesome -->
  <script src="https://kit.fontawesome.com/8daa4a4f86.js" crossorigin="anonymous"></script>
  <!-- google analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XF1TL0EPWM"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-XF1TL0EPWM');
  </script>
  <!-- highlight.js -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-light.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/typescript.min.js"></script>
  <script>hljs.highlightAll();</script>
  {% feed_meta %}
  {% seo %}
</head>

<body>
  <header class="header">
    <div class="name-logo logo-font">
      <a href="/">{{ site.logo_text }}</a>
      <span class="logo-subtext">{{ site.logo_subtext }}</span>
    </div>

    <!-- <ul class="menus">
      <li>
        <a href="/" {% if page.url=='/' %} class="active" {% endif %}>首页</a>
      </li>
      <li>
        <a href="/blogs" {% if page.url=='/blogs.html' %} class="active" {% endif %}>博客</a>
      </li>
    </ul> -->
  </header>

  <main class="main-viewport">
    {{ content }}
  </main>

  <footer class="footer">
    <span class="copyright">转载请注明出处</span>
    <a href="mailto:{{ site.email }}">
      <i class="fas fa-paper-plane contact-icon"></i>
    </a>
    <a href="https://github.com/{{ site.github_username }}" target="_blank">
      <i class="fab fa-github contact-icon"></i>
    </a>
  </footer>
</body>

</html>
